{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <!-- Enlace a la hoja de estilos base.css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo_proveedores.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo_ventas.css' %}">
</head>
<body>
    <!--Barra superior-->
    <div class="top-bar">
        <a class="nav-item" href="{% url 'mostrar_proveedores' %}">Proveedores</a>
        <a class="nav-item" href="{% url 'mostrar_empleados' %}">Empleados</a>
        <a class="nav-item" href="{% url 'mostrar_clientes' %}">Clientes</a>
                        <!-- Botón para cerrar sesión -->
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
         <button type="submit" class="boton_cierre_sesion">Cerrar sesión</button>
        </form>
    </div>
    

    <nav>
        <ul class="nav">
            <li><a class="nav-item" href="{% url 'inicio' %}">Inicio</a></li>
            <li><a class="nav-item" href="{% url 'mostrar_articulos' %}">Productos</a></li>
            <li><a class="nav-item" href="{% url 'mostrar_ventas' %}">Ventas</a></li>
            <li><a class="nav-item" href="{% url 'mostrar_compras' %}">Compras</a></li>
                    <!-- Boton Caja -->
        <div class="dropdown">
            <a class="nav-link nav-item" href="#" role="button" id="dropdownCaja">
                Caja
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownCaja">
                <a class="dropdown-item" href="{% url 'apertura_caja' %}">Abrir Caja</a>
                <a class="dropdown-item" href="{% url 'cierre_caja' %}">Cerrar Caja</a>
            </div>
        </div>

        </ul>
    </nav>

    <!-- Contenedor principal -->
    <div class="container">
        {% block contenido %}{% endblock %}
    </div>

    <!-- Barra de tareas inferior -->
    <div class="taskbar">
        SmartCell 
    </div>
</body>
</html>
