{% extends "base.html" %}
{% load static %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre de Caja</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container-fluid d-flex vh-100 justify-content-center align-items-center">
        <div class="card border-primary shadow-sm" style="width: 100%; max-width: 400px;">
            <div class="card-body">
                <h2 class="card-title text-center text-primary">Cierre de caja</h2>
                <form>
                    <div class="form-group">
                        <label for="date">Fecha:</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Hora:</label>
                        <input type="time" class="form-control" id="time" name="time" required>
                    </div>
                    <div class="form-group">
                        <label for="amount">Monto Inicial:</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>
                    <div class="form-group">
                        <label for="">Ventas del dia</label>
                        <input type="" class="form-control" required>
                    </div>


                    <a class="btn btn-primary btn-block" href="{% url 'inicio' %}">Finalizar</a>
                </form>
            </div>  
        </div>
    </div>
    <script>

        window.onload = function() {
            const now = new Date();
            const formattedDate = now.toISOString().split('T')[0];
            document.getElementById('date').value = formattedDate;

            const formattedTime = now.toTimeString().split(' ')[0].slice(0, 5);
            document.getElementById('time').value = formattedTime;
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}