{% extends "base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Las Últimas 10 Ventas</h5>
        </div>
        <div class="card-body">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Fecha y Hora</th>
                            <th>Empleado</th>
                            <th>Cliente</th>
                            <th>Total Venta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venta in ventas_recientes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ venta.fecha_hs|date:"d/m/Y H:i" }}</td>
                            <td>{{ venta.id_caja }}</td>
                            <td>{{ venta.id_cli.nombre }}</td>
                            <td>{{ venta.total_venta }}</td>
                        </tr>
                        {% endfor %}

                        <!-- Filas vacías para completar hasta 10 -->
                        {% for _ in filas_vacias %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td></td> 
                            <td></td> 
                            <td></td>
                            <td></td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% if messages %}
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span> <!-- Este elemento debe existir -->
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

<body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('modal');
            var closeBtn = document.querySelector('.close');
    
            // Verificar si el modal y el botón de cerrar existen
            if (modal && closeBtn) {
                // Mostrar modal si contiene mensajes
                if (modal.querySelector('p')) {
                    modal.style.display = 'flex';
                }
    
                // Cerrar modal al hacer clic en la "x"
                closeBtn.addEventListener('click', function () {
                    modal.style.display = 'none';
                });
    
                // Cerrar modal al hacer clic fuera del contenido
                window.addEventListener('click', function (event) {
                    if (event.target === modal) {
                        modal.style.display = 'none';
                    }
                });
            }
        });
    </script>
    
    
</body>
<body>
    <script src="/static/scripts/base.js"></script>
</body>
<head>
    <link rel="stylesheet" href="/static/css/inicio.css">
</head>

{% endblock %}
