{% extends "base.html" %}

{% block titulo %} Lista de articulos {% endblock %}

{% block contenido %}

<div class="card">
  <div class="card-header">Listar Proveedores</div>
  <div class="card-body">
    <h4 class="card-title">Proveedores</h4>

    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">CUIT</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td scope="row">1</td>
            <td>Pixer</td>
            <td>$30-8787-764</td>
            <td>$Salta</td>
            <td>$387</td>
            <td>blbabla@</td>
            <td> <a name="Editar" class="btn btn-primary" href="{% url "editar_proveedores" %}" role="button">Editar</a>
              | <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div><br>
<a
  name="agregar" class="btn btn-success" href="{% url "crear_proveedores" %}" role="button">Agregar articulo</a
>

</div>



{% endblock %}
