/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}


.contenedor{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: nowrap;
}

.caja_venta {
    width: 65%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(173, 17, 17, 0.1);
    border-radius: 10px;
}

.caja_productos{
    width: 35%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Encabezado */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2rem;
    color: #007bff;
}

/* Estilos de los formularios */

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="date"] {
    max-width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
}

table td input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos para el total */
.total {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.total input {
    font-size: 1.5rem;
    border: none;
    color: #007bff;
    font-weight: bold;
}

/* Estilos para los botones */
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button[type="button"] {
    background-color: #6c757d;
    color: white;
}

/* Hover effects */
button:hover {
    opacity: 0.9;
}

