{% extends "base.html" %}

{% block titulo %}Agregar nuevo artículo{% endblock %}

{% block contenido %}
{# Se comenta este bloque para no mostrar el mensaje global de errores #}
{% if formulario.errors %}
{% endif %}

<div id="pa_card" class="restringuido">
    <div id="pa_card_header" class="restringuido">Crear un artículo</div>
    <div id="pa_card_body" class="restringuido">
        <h4 id="pa_card_title" class="restringuido">Descripción</h4>
        {% include "articulos/form.html" %}
    </div>
</div>

{% endblock %}
